.checkboxsize1 {
    width: 15px;
    height: 15px;
  }
  
  .checkboxcon1 {
    display: flex;
    align-items: center;
  }
  
  .employmentlabeltext1 {
    font-size: 15px;
    margin: 10px;
    font-family: Roboto;
  }
  